<article class="block  block--gallery">
    <a href="{{ url }}" class="block__link" title="{{ headline.short }}">
        <div class="block__image">
            {{> atoms-square }}
        </div>

        <div class="block__title">
            {{ headline.short }}
        </div>
        
    </a>
</article>