<div class="block  block--tile">
    <a href="{{ url }}" class="block__link  js-lightbox" title="{{ headline.short }}">
        <div class="block__image">
            {{> atoms-square }}
        </div>
    </a>
</div>
