<div class="block  block--bottom">
    <a href="{{ url }}" class="block__link" title="{{ block-title }}">
        <div class="grid">
            <div class="grid__item">
                {{# show-block-date }}
                    <div class="block__date">
                        {{ date.short }}
                    </div>
                {{/ show-block-date }}

                {{# show-block-title }}
                    <div class="block__title">
                        {{ block-title }}
                    </div>
                {{/ show-block-title }}

                {{# show-block-subtitle }}
                    <div class="block__subtitle">
                        {{ block-subtitle }}
                    </div>
                {{/ show-block-subtitle }}

                {{# show-block-excerpt }}
                    <div class="block__excerpt">
                        <p>
                            {{ block-excerpt }}
                        </p>
                    </div>
                {{/ show-block-excerpt }}

                <div class="block__more">
                    {{ more }}
                </div>
            </div>

            <div class="grid__item">
                <div class="block__image">
                    <img src="{{ block-image }}" alt="{{ block-title }}" />
                </div>
        </div>

        </div>
    </a>
</div>