<section class="section">

	<header class="section__header">
		<h1 class="section__title">
			{{ headline.short }}
		</h1>
	</header>
	
	<div class="section__content">
		
		<div class="grid">

			<div class="grid__item  one-third">

				<div class="section__image">
					{{> atoms-square }}
				</div>

				{{ excerpt.long }}
			</div>

		</div>


	</div>

</section>