/* ==========================================================================
  HEADER
   ========================================================================== */
.header {
    padding: 0;
    margin: 0;
    width: 100%;
    padding: $pad-double 0;
}

.logo {
}

/* ==========================================================================
  ABSOLUTE HEADER
   ========================================================================== */


/* DEFAULT
   ========================================================================== */
.header--default {
    text-align: right; 

    .logo {
        float: left;
    }

    .nav {
        @include inline-block(middle);
    }
}

/* ==========================================================================
  THEMES
   ========================================================================== */


/* AVANTGARDE
   ========================================================================== */
.avantgarde {
    .header {
        position: absolute;
        z-index: 1000;
        border-bottom: 1px solid rgba($color-2, 0.5);
        background: rgba($color-2, 0.25);
    }
}

/* MOESI
   ========================================================================== */
.moesi {
    .header--default {
        text-align: center;
    }

    .logo__link {
        @include inline-block();
        width: 100px;
        margin-right: 20px;
    }

    .logo {
        float: none;
    }

    .menu {
        @include inline-block(middle);
    }
}
