<div class="theme--highlight">

    <!-- Header  MOLECULE INTRO-->
    <section class="section  section--fullviewport  cover" id="header">
        <div class="grid  grid--center">
            <div class="grid__item  five-twelfths">
                <div class="alabama">

                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="valign-center">

                                <div class="grid  grid--center">
                                    <div class="grid__item  ten-twelfths">
                                        <div class="alabama__image">
                                            <img src="../../../../img/logos/tkv-logo.png" />
                                        </div>

                                        <h1 class="alabama__title  alpha"> 
                                            Tierschutzverein
                                        </h1>

                                        <p class="alabama__content">
                                            für Kleintiere Vorarlberg
                                        </p>

                                    </div>
                                </div>

                            </div>
                            <div class="valigh-fix"></div>
                        </div>
                    </div>

                    <div class="alabama__link">

                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="valign-center">

                                    <ul class="actions">
                                        <li><a href="#one" class="btn">Weitere Informationen</a></li>
                                    </ul>

                                </div>
                                <div class="valigh-fix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <!-- ONE -->
    <section id="one" class="section  section--fullviewport  cover">
        <div class="grid  grid--center">
            <div class="grid__item  five-twelfths">
                <div class="alaska  alaska--bg">

                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="valign-center">

                                <div class="grid  grid--center">
                                    <div class="grid__item  ten-twelfths">

                                        <h1 class="alaska__title  beta"> 
                                            Wer wir sind
                                        </h1>

                                        <p class="alaska__content">
                                            Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.
                                        </p>

                                    </div>
                                </div>

                            </div>
                            <div class="valigh-fix"></div>
                        </div>
                    </div>

                    <div class="alaska__link">

                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="valign-center">

                                    <ul class="actions">
                                        <li>
                                            <a href="#two" class="btn btn-alt">
                                                <i class="fa fa-arrow-circle-down"></i>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="valigh-fix"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- ONE -->
    <section id="two" class="section  section--fullviewport  cover">
        <div class="grid  grid--center">
            <div class="grid__item  five-twelfths">
                <div class="alaska  alaska--bg">

                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="valign-center">

                                <div class="grid  grid--center">
                                    <div class="grid__item  ten-twelfths">

                                        <h1 class="alaska__title  beta"> 
                                            Was wir tun
                                        </h1>

                                        <p class="alaska__content">
                                            Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.
                                        </p>

                                    </div>
                                </div>

                            </div>
                            <div class="valigh-fix"></div>
                        </div>
                    </div>

                    <div class="alaska__link">

                        <div class="display-table">
                            <div class="display-table-cell">
                                <div class="valign-center">

                                    <ul class="actions">
                                        <li>
                                            <a href="#three" class="btn btn-alt">
                                                <i class="fa fa-arrow-circle-down"></i>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                                <div class="valigh-fix"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section  section--fullviewport  cover" id="three">
        <div class="grid  grid--center">
            <div class="grid__item  five-twelfths">
            
                <div class="arizona  arizona--bg">

                    <div class="grid  grid--center">
                        <div class="grid__item  ten-twelfths">

                            <h2 class="arizona__title  beta">Kontakt</h2>

                            <div class="arizona__content">
                                <form method="post" action="#">
                                    <div class="grid">
                                        <div class="grid__item  one-half"><input type="text" name="name" id="name" placeholder="Name" /></div>
                                        <div class="grid__item  one-half"><input type="email" name="email" id="email" placeholder="Email" /></div>
                                        <div class="grid__item"><textarea name="message" id="message" placeholder="Nachricht" rows="8"></textarea></div>
                                        <div class="grid__item">
                                            <ul class="actions">
                                                <li><input type="submit" value="Nachricht abschicken" class="btn" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                         </div>
                    </div>

                </div>

                <footer class="footer">
                    <div class="grid  grid--center">
                        <div class="grid__item  five-twelfths">

                            <ul class="icons">
                                <li><a href="#" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa fa-dribbble"><span class="label">Dribbble</span></a></li>
                                <li><a href="#" class="icon fa fa-envelope"><span class="label">Email</span></a></li>
                            </ul>
                            <ul class="copyright">
                                <li>&copy; Tierschutzverein für Kleintiere Vorarlberg</li><li><a>Impressum</a></li>
                            </ul>

                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </section>
</div>