<div class="fs">
	<div class="fs-sidebar">
		<div class="js-sidebar">
			This is the sidebar
		{{ excerpt.long }}
		{{ excerpt.long }}
		{{ excerpt.long }}
		{{ excerpt.long }}
		{{ excerpt.long }}
		{{ excerpt.long }}
		</div>
		

	</div>

	<div class="fs-content">
		
		<div class="wrapper--sticky  content">
			{{ excerpt.long }}
			{{ excerpt.long }}
			{{ excerpt.long }}
			{{ excerpt.long }}
			{{ excerpt.long }}
			{{ excerpt.long }}
			{{ excerpt.long }}
			{{ excerpt.long }}

			<div class="push"><!-- --></div>
		</div>

		<footer class="footer"></footer>

	</div>
</div>

<div class="">
	awehgwabhwalg
	</div>