{{# show-subtitle }}
    <header class="article__header">
{{/ show-subtitle }}
        <h1 class="article__title">{{ title }}</h1>

    {{# show-subtitle }}
        <h2 class="article__subtitle">{{ subtitle }}</h2>
    {{/ show-subtitle }}

{{# show-subtitle }}
    </header>
{{/ show-subtitle }}