<div class="">
    {{> organisms-header }}
    
    {{> organisms-article }}
    
    <div class="grid  grid--center">
        <div class="grid__item  two-thirds">
            {{> organisms-news }}
        </div>
    </div>
    

    {{> organisms-footer }}
</div>