<div class="detail">
    {{> organisms-header }}
    
    {{> organisms-article }}
    
    <div class="grid  grid--center">
        <div class="grid__item  two-thirds">

        </div>
    </div>
    

    {{> organisms-footer }}
</div>