<!-- Begin .header -->
<header class="header  header--default  header--{{ modifier }} cf" role="banner">
    <div class="lc">
        {{> atoms-logo }}

        {{> molecules-primary-nav }}
    </div>
</header>
<!-- End .header -->