<!-- TODO: EDITABLE CONTENT -->
<div class="sticky-footer">
    <footer class="footer  footer--third"   role="contentinfo">
        <div class="footer__content">

            <div class="grid">
                <div class="grid__item  one-quarter">
                    {{# footer-1 }}
                        {{> molecules-contact }}
                    {{/ footer-1 }}

                </div>

                <div class="grid__item  two-quarters">
                    {{# footer-2 }}
                        {{> molecules-opening }}
                    {{/ footer-2 }}
                </div>

                <div class="grid__item  one-quarter">
                    {{# footer-4 }}
                        {{> molecules-block-nav }}
                    {{/ footer-4 }}
                </div>
            </div>

            <div class="footer__copyright">
                <p class="copyright">&copy; 2015 {{ company }}. {{ all-rights }}.</p>
            </div>

        </div>
    </footer>
</div>