<nav class="menu  menu--{{ modifier }}">
    <ul class="menu__layout  menu__layout--inline  menu__layout--dropdown">
        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">Home</a>
        </li>

        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">News</a>
        </li>

        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">Events</a>
        </li>

        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">Tierärzte</a>
        </li>

        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">Sponsoren</a>
        </li>

        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">Downloads</a>
        </li>

        <li class="menu__layout-unit">
            <a class="menu__item" href="{{ url }}">Kontakt</a>
        </li>
    </ul>
</nav>