html {
  font-size: 6.25%; /* Sets up the Base 10 stuff */
}

body {
    background: $color-2;

    color: $gray-dark;
    
}

.body {
    @include font-size-base;
    font-family: $font;
    -webkit-text-size-adjust: 100%;
    @include font-smoothing;
}