<div class="demo">
	<!--Grid 2up-->
	<div class="grid">
		<div class="grid__item  one-half">
			<div class="gi">1/2</div>
		</div>
			
		<div class="grid__item  one-half">
			<div class="gi">1/2</div>
		</div>
	</div>
</div>