<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ff0000;"></span>
		<span class="sg-label">red</span> 
	</li>
	<li>
		<span class="sg-swatch" style="background: #00ff00;"></span>
		<span class="sg-label">#00ff00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0000ff;"></span>
		<span class="sg-label">#0000ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffff00;"></span>
		<span class="sg-label">#ffff00</span>
	</li> 
	<li>
		<span class="sg-swatch" style="background: #00ffff;"></span>
		<span class="sg-label">#00ffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff00ff;"></span>
		<span class="sg-label">#ff00ff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #808080;"></span>
		<span class="sg-label">#808080</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>

<h2 class="sg-pattern-head">
    Colors Labrystheia
</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #1c1d21;"></span>
        <span class="sg-label">#1c1d21 - black</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">#ffffff - white</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #cd5334;"></span>
        <span class="sg-label">#cd5334 - orange</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #ffd20c;"></span>
        <span class="sg-label">#ffd20c - yellow</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #303299;"></span>
        <span class="sg-label">#303299 - blue</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #53dd6c;"></span>
        <span class="sg-label">#53dd6c - green</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #807ca8;"></span>
        <span class="sg-label">#807ca8 - purple</span> 
    </li>
    
</ul>

<h2 class="sg-pattern-head">
    Colors Tierschutzverein Kleintiere Vorarlberg
</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #1c1d21;"></span>
        <span class="sg-label">#1c1d21 - black</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">#ffffff - white</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #88ab75;"></span>
        <span class="sg-label">#88ab75 - green</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #cd5334;"></span>
        <span class="sg-label">#cd5334 - orange</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #522a27;"></span>
        <span class="sg-label">#522a27 - red</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #efb0a1;"></span>
        <span class="sg-label">#efb0a1 - pink</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #d5e1a3;"></span>
        <span class="sg-label">#d5e1a3 - light-green</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #61686B;"></span>
        <span class="sg-label">#61686B - gray</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #dddddd;"></span>
        <span class="sg-label">#dddddd - gray-middle</span> 
    </li>
</ul>

<h2 class="sg-pattern-head">
    Colors Mösi
</h2>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #1c1d21;"></span>
        <span class="sg-label">#1c1d21 - black</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #ffffff;"></span>
        <span class="sg-label">#ffffff - white</span> 
    </li>
    
    <li>
        <span class="sg-swatch" style="background: #a62021;"></span>
        <span class="sg-label">#a62021 - red</span> 
    </li>
</ul>